@import "normalize.styl"


@font-face
  font-family 'icomoon'
  src url('../fonts/icomoon.eot')
  src url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.ttf') format('truetype'),
     url('../fonts/icomoon.svg#icomoon') format('svg')
  font-weight normal
  font-style normal

[class^="icon-"], [class*=" icon-"]
  font-family 'icomoon'
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  
azul_oscuro = #333333
dorado = #fc0

body
  font-family 'Oswald', sans-serif
  font-size 16px
  
header
  position fixed
  width 100%
  top 0

.menu
  background black
  border-bottom 2px solid dorado
  display flex
  flex-direction row
  justify-content space-around
  .logo   
    flex 1 1 40px
    margin 0
    padding-left 1em
    z-index 1
  .options
    flex 7 2 100px    
    .menu-items
      display flex
      flex-direction row
      justify-content space-around    
      .item
        align-items center
        display flex        
        list-style none
        a
          border-right 1px solid white
          color white       
          font-size .9em
          padding-right 3em
          text-decoration none
  .registro
    align-items center
    display flex
    flex 5 3 100px
    flex-direction row
    justify-content space-around
    .search-left    
        .search-input
          .input_search
                border 1px solid lightblue
                border-radius 5px
                font-size .8em
                height 2.2em
                padding 0 1em 0 2em
                width 160px
          .icon-busqueda
            right 12.5em
            top .4em
            position relative
            &:before
              content "\e601"
      .container_login
        top 1.1em
        right .6em
        font-size .8em
        .ingresarUsuario
          padding-right .5em
          border-right 1px solid white
          color #008b8b
        .hacerIngresoUsuario
          padding-left .5em
          color dorado
      .avatar
        opacity .4
        background-color gray
.contenido
  .titleProduct
    margin-left 1em
    font-weight normal
    letter-spacing 1px
    margin-top 3em
  .especificaciones
    margin-top 1em
    display flex
    flex-direction row
    .details
      margin-left 4em
      margin-top 2em
      font-size 1.0em
      color #5c5c5c
      h4
        color black
        letter-spacing 1px
      ul
        li
          padding-bottom 1em
  .details-images
    display flex
    flex-direction row
    justify-content space-around
    margin-top 2em
    .img-secundarias
      border 1px solid lightgray
  .package-included
    margin-left 1em
  .mensajecomprar
    margin-top 3em
    display flex
    align-items center
    justify-content center
    span
      border-radius 5px
      padding .3em 1em
      background darkblue
      color white 
    
            